@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #000;
  --background: #fff;
  --primary: #17755a;
  --secondary: #ebf1ff;
  --accent: #95685b;
  --borderColor: #f2f2f2;
}

* {
  font-family: "Inter", sans-serif;
  transition: all 0.3s linear;
}

html {
  scroll-behavior: smooth !important;
}

body {
  color: --text;
  background-color: --background;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: --secondary;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  border-radius: 10px;
  background-color: --primary;
}

.Rubik {
  font-family: "Rubik", sans-serif;
}

.photo {
  border: 8px solid --borderColor;
}
